body { background-image:url(../img/bg.png);background-repeat:repeat-x; }

#stockTable {
	width: 100% border:  1px solid #B0B0B0;
}

#stockTable tbody {
	/* Kind of irrelevant unless your .css is alreadt doing something else */
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: white;
}

#stockTable thead {
	text-align: left;
}

#stockTable thead th {
	background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0),
		color-stop(100%, #DBDBDB) );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0',
		endColorstr='#DBDBDB', GradientType=0 );
	border: 1px solid #B0B0B0;
	color: #444;
	font-size: 16px;
	font-weight: bold;
	padding: 3px 10px;
}

#stockTable td {
	padding: 3px 10px;
}

#stockTable tr:nth-child(even) {
	background: #F0F0F0;
}